.formContainer{
    display: flex;
    background-color: rgba(0, 0, 0, 0.877);
    width:  40vw;
    padding: 3vw;
    align-items: center;
    color: white;
    gap: 12vw;
}

.cformTop{
    display: flex;
    gap: 0.8vw;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}


.cformMid{
    display: flex;
}

.cfromBottom{
    display: flex;
    justify-content: center;
    gap: 1vw;
}

